@* Author: Nayab *@
@page "/TestPageCreateProperty"
@using BropertyBrosClientApplication.DTO.RealtorFirm
@using BropertyBrosClientApplication.Services
@inject RealtorFirmService realtorFirmService

<h1>Test Get Realtor Firm</h1>

@code {

}
