@page "/createcity"
@using BropertyBrosClientApplication.DTO.City
@using BropertyBrosClientApplication.Services
@inject CityService CityService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@* Author: Arlind *@

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <h1 class="dashboard-title text-center mb-4">Create City</h1>

        <div class="card shadow-sm p-4">
            <EditForm Model="newCity" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="cityName" class="form-label">City Name</label>
                    <InputText id="cityName" class="form-control" @bind-Value="newCity.CityName" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </EditForm>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-secondary" @onclick="GoBack">Back</button>
        </div>
    </div>
</div>

@code {
    private Services.CityCreateDto newCity = new();

    private async Task HandleValidSubmit()
    {
        // await CityService.CreateCityAsync(newCity);
        NavigationManager.NavigateTo("/cityoverview");
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/admindashboard");
    }
}
