@page "/cityoverview"
@using BropertyBrosClientApplication.DTO.City
@using BropertyBrosClientApplication.Services
@inject CityService CityService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@* Author: Arlind *@

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <h1 class="dashboard-title text-center mb-4">Cities Overview</h1>

        @if (Cities == null)
        {
            <p class="text-center">Loading...</p>
        }
        else if (!Cities.Any())
        {
            <p class="text-center">No cities found.</p>
        }
        else
        {
            <div class="row g-4">
                @foreach (var city in Cities)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <NavLink class="text-decoration-none text-primary" href="@($"/updatecity")">
                                        @city.CityName
                                    </NavLink>
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="text-center mt-3">
            <button class="btn btn-secondary" @onclick="GoBack">Back</button>
        </div>
    </div>
</div>

@code {
    private List<Services.CityReadDto>? Cities;
    private ApiResponse<List<Services.CityReadDto>>? apiResponse = new ApiResponse<List<Services.CityReadDto>> { Success = true };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            apiResponse = await CityService.GetAllCities();
            if (apiResponse.Success)
            {
                Cities = apiResponse.Data;
				StateHasChanged();
            }
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/admindashboard");
    }
}
