@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row  navbar navbar-dark" style="height: 250px; padding: 0;">
    <div class="container-fluid" style="padding: 0;">
        <a class="navbar-brand" style="padding: 0;" href="">
            <img src="pics/logo2.png" alt="Logo" style="max-width: 250px;" />
        </a>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable"  onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/propertypostings">
                <span class="" aria-hidden="true"></span> Our Properties
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/realtorlist">
                <span class="" aria-hidden="true"></span> Realtors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listoffirms">
                <span class="" aria-hidden="true"></span> Realtor Firms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testpagegetrealtorandproperties">
                <span class="" aria-hidden="true"></span> (TEMP) Realtor Properties
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testpagesearchproperties">
                <span class="" aria-hidden="true"></span> (TEMP)Search Properties
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users/register">
                <span class="" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users/login">
                <span class="" aria-hidden="true"></span> Login
            </NavLink>
        </div>
 

        <!--Admin Alternativ-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admindashboard">
                <span class="" aria-hidden="true"></span> Admin Dashboard
            </NavLink>
        </div>
        <!--Admin Alternativ-->

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>       
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    private bool isAdminControlsExpanded = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

