@using BropertyBrosClientApplication.Services.Auth
@inject IAuthService AuthService
@implements IDisposable

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="top-row  navbar navbar-dark" style="height: 250px; padding: 0;">
    <div class="container-fluid" style="padding: 0;">
        <a class="navbar-brand" style="padding: 0;" href="">
            <img src="pics/logo2.png" alt="Logo" style="max-width: 250px;" />
        </a>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable"  onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span><i class="fa-solid fa-house"></i>&nbsp; Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/propertypostings">
                <span class="" aria-hidden="true"></span><i class="fa-solid fa-location-dot"></i>&nbsp; Our Properties
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/realtorlist">
                <span class="" aria-hidden="true"></span><i class="fa-solid fa-handshake"></i>&nbsp; Realtors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listoffirms">
                <span class="" aria-hidden="true"></span><i class="fa-solid fa-briefcase"></i>&nbsp; Realtor Firms
            </NavLink>

        </div>

 
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admindashboard">
                        <span class="" aria-hidden="true"></span> Admin Dashboard
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        

        <AuthorizeView Roles="User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="realtordashboard">
                        <span class="" aria-hidden="true"></span> Realtor Dashboard
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            @* ta bort inlogg *@
            <NotAuthorized>                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users/login">
                        <span class="" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="HandleLogout">
                        <span class="" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
       
    </nav>
</div>

@code {
    private string? currentUrl;
    private bool isAdminControlsExpanded = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task HandleLogout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/users/login", true);
    }
}

