@page "/users/change-password"
@using BropertyBrosClientApplication.Services.Auth
@using System.ComponentModel.DataAnnotations
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Change Password</h3>



@code {
    
}